/**
 * Styles for the map itself.
 */
.leafletphpspacer {
	display: none;
	width: 100%;
	height: 380px;
	max-height: 70vh;
}

.leafletphpwrap {
	position: relative;
	left: 0;
	width: 100%;
	height: 380px; /* If this is changed, also change .leafletphpspacer and .leaflet-draw-tooltip */
	max-height: 70vh;
}

.leafletphp {
	position: relative;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 756px) {

	.leafletphpspacer {
		display: block;
	}

	.leafletphpwrap {
		position: absolute;
		left: 0;
	}

	.leaflet-top .leaflet-control {
		margin-top: 0px;
	}

	.leaflet-left .leaflet-control {
		margin-left: 0;
	}

	.leaflet-draw-toolbar {
		margin-top: 0px;
	}

	.leaflet-control-container .leaflet-top.leaflet-left {
		transform: scale(1.5,1.5);
		transform-origin: top left;
		/*transition: transform 2s, transform-origin 2s;*/
	}

	.leaflet-draw a.leaflet-draw-draw-rectangle {
		display: none;
	}

	.leaflet-draw a.leaflet-draw-draw-circle {
		display: none;
	}

	.leaflet-draw a.leaflet-draw-draw-circlemarker {
		display: none;
	}

	.leaflet-bar a:first-child {
		border-radius: 0;
	}

	.leaflet-bar a:last-child {
		border-radius: 0;
	}

	.leaflet-bar {
		box-shadow: none;
		border-radius: 0;
		border-right: 2px solid black;
		border-bottom: 2px solid black;
	}

	.leaflet-bar a.leaflet-disabled {
		opacity: 0.5;
	}

	.leaflet-control-zoom {
		display: none;
	}

	/*
	.leaflet-draw-tooltip {
		transform: none !important;
		position: relative;
		left: -20px;
		top: 350px;
	}
	*/
}
